@import url("/home/austin/.cache/wal/colors-waybar.css");
/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: @background;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language {
  color: @background;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: @foreground;
  background: @background;
  padding-right: 17px;
}

#clock {
  background: @color4;
}

#cpu {
  background: @color5;
}

#memory {
  background: @color6;
}

#disk {
  background: @color7;
}

#temperature {
  background: @color8;
}

/* Modules center */
#workspaces {
  background: @background;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: @color4;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: @color5;
}

#workspaces button.active {
  color: @color4;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: @color6;
}

#workspaces button.active:hover {}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: @color1;
}

#taskbar button:hover {
  background: @color1;
}

#idle_inhibitor {
  background: @color8;
  padding-right: 15px;
}

#pulseaudio-slider {
  color: @color8;
  background: @color5;
  min-width: 50px;
  background-image: none;
}


#pulseaudio {
  min-width: 55px;
  color: @background;
  background: @color6;
}

#pulseaudio-slider trough {
    background: @color8;
}

#pulseaudio-slider highlight {
    background: @color9;
}



#pulseaudio-slider slider {
  background: @background;
  color: #ffffff;
}

#network {
  background: @color7;
  padding-right: 13px;
}

#language {
  background: @color8;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}